.users {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 9.5rem;
  justify-content: center;
  grid-column-gap: 1.6rem;
  grid-row-gap: 1.75rem;
}
a {
  text-decoration: none;
  color: black;
}
