.userItem{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    box-shadow: 0.45rem 0.4rem 0.4rem rgba(196, 196, 196, 0.438);
    border-radius: 0.75rem;
    width: 18.75rem;
    height: 9rem;
    padding: 1.25rem;
}
.name{
    font: {
        size: 1.25rem;
        weight: 600;
    }
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 10rem; 
    white-space: nowrap;
}
.userName{
    margin-top: 0.5rem;
    font: {
        size: 1rem;
        weight: 400;
    }
    color: rgb(110, 110, 110);
}
.userIcon > i{
    color: #cfc6ff;
}