.userPage {
  width: 35rem;
  margin: 4rem auto 0 auto;
}
.userPhoto {
  width: 15.5rem;
  height: 15.5rem;
  background-color: #cfc6ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userPhoto i {
  color: whitesmoke;
}
.name {
  font: {
    size: 1.5rem;
    weight: 600;
  }
}
.userName {
  margin: 1rem 0;
  font: {
    size: 1.125rem;
    weight: 400;
  }
  color: rgb(110, 110, 110);
}
.profile {
  display: flex;
  justify-content: space-between;
}
span {
  font: {
    size: 1.125rem;
    weight: 600;
  }
}

.errorMessage {
  margin: 10rem auto 0 auto;
}
.addUser, .userPosts{
  margin: 0 auto;
}
.addUser{
  margin-top: 4rem;
  margin-bottom: 4rem;
}