*{
    margin: 0;
    box-sizing: border-box;
}
.headerHide{
    background-color: black;
    color:white;
    font: {
        family:'New Cycle', sans-serif;
        weight: 400;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;

    position: fixed;
    top: -1000px;
    right: 0;
    left: 0;
    width: 100%;
    transition: all 4s ease;
}

.headerShow{
    background-color: black;
    color:white;
    font: {
        family:'New Cycle', sans-serif;
        weight: 400;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;    
    transition: all 1s ease;
}
.logo{
    background: {
        image: url("../../assets/logo.png");
        position: center;
        repeat: no-repeat;
    }
    width: 40px;
    height: 40px;
}
.rightPart{
    font-size: 30px;
    display: flex;
}
.leftPart{
    display: flex;
    align-items: center;
    font-size: 17px;
}
.slogan{
    font-size: 20px;
    margin: 0 30px;
}
.rightPart > div:not(:first-child){
    margin-left: 30px;
}
.angleDownBlock{
    display: flex;
    padding: 20px;
    height: 100%;
    align-items: center;
    &:hover{
        background-color: #393939;
    }
}
.angleDownBlock > div{
    margin-right: 10px;
}
.angleDownBlock > i{
    font-size: 25px;
} 
.ellipsisIcon > i:nth-child(2n){
    margin: 0 2px;
}
.blockHide{
    display: none;
}
.blockShow{
    text-align: start;
    padding: 20px 40px 20px 20px;
    background-color: black;
    position: fixed;
    top: 65px;
    transition: all 0.3s ease;
}