.counter{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 4rem;
}
.countValue{
    color: black;
    font: {
        size: 3rem;
        weight: 600;
    }
}
.countButton{
    background-color: rgb(49, 49, 49);
    margin-top: 1.5rem;
    border-radius: 1rem;
}