.userForm {
  border: 2px solid #cfc6ff;
  padding: 20px;
  width: 60rem;
  border-radius: 0.75rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  grid-row-gap: 1rem;
}
input:first-child {
  background-color: #393939;
  color: white;
  font: {
    size: 16px;
    weight: 400;
  }
  &:focus {
    border: 1px solid #0062ff;
    box-shadow: 0 0 0.4rem #0062ff;
  }
}
textarea {
  background-color: #393939;
  color: white;
  resize: none;
  height: 5rem;
  font: {
    size: 16px;
    weight: 400;
  }
  &:focus {
    border: 1px solid #0062ff;
    box-shadow: 0 0 0.4rem #0062ff;
  }
}
input:last-child {
  background-color: rgb(239, 239, 239);
  color: black;
  font: {
    size: 18px;
    weight: 600;
  }
  &:hover {
    border: 1px solid #0062ff;
    box-shadow: 0 0 0.4rem #0062ff;
  }
  &:disabled {
    opacity: 0.8;
  }
}
input,
textarea {
  width: 40rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
  outline: 0;
  border: 0;
}
