.showSearchBar {
  position: absolute;
  z-index: -1;
  padding: 20px;
  height: 100%;
  background-color: #393939;
  width: 500px;
  top: 0;
  right: 10rem;
  outline: 0;
  border: 0;
  outline: none;
  color: white;
  font: {
    size: 16px;
    weight: 400;
  }
  @media screen and (min-device-width: 320px) and (max-device-width: 1200px) {
    right: 9rem;
  }
}
.showSearchBar:focus {
  border: 1px solid #0062ff;
  box-shadow: 0 0 0.4rem #0062ff;
}
.hideSearchBar {
  display: none;
}
.showSearchBarIcon {
  z-index: 1;
  cursor: pointer;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid #0062ff;
    box-shadow: 0 0 0.4rem #0062ff;
  }
}
.hideCross {
  display: none;
}
.showCross {
  z-index: 1;
  border: 1px solid transparent;
  position: relative;
  background-color: #393939;
  &:hover {
    border: 1px solid #0062ff;
    box-shadow: 0 0 0.4rem #0062ff;
  }
}
.searchBar {
  display: flex;
}
.searchBar > div {
  padding: 1rem;
}
.showSubmitButton {
  font-size: 2rem;
  background-color: transparent;
  border: 0;
  color: white;
  padding: 1rem;
  &:hover {
    border: 1px solid #0062ff;
    box-shadow: 0 0 0.4rem #0062ff;
  }
}
.hideSubmitButton {
  display: none;
}
.hideSearchBarIcon {
  display: none;
}
.hintHide {
  display: none;
}
.hint {
  position: absolute;
  color: white;
  right: 12.2rem;
  top: 3.5rem;
  font: {
    size: 16px;
    weight: 400;
  }
}
.hintShow {
  background-color: black;
}
.hintItem {
  padding: 0.5rem 9.3rem 0.5rem 0.5rem;
  width: 31.2rem;
  cursor: pointer;
  &:hover {
    background-color: #393939;
  }
}
.nothing {
  position: absolute;
  color: red;
  right: 1rem;
  top: 1rem;
  width: 31.2rem;
  padding: 0.5rem 9.3rem 0.5rem 0.5rem;
  background-color: black;
}
a {
  display: block;
  text-decoration: none;
  color: white;
}
button {
  background-color: transparent;
  color: white;
  font-size: 2rem;
  padding: 1rem;
}
